<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="NsContext" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=NsContext;Trusted_Connection=true;" />
  </connectionStrings>
  <appSettings>
    <add key="Directory" value="C:\Ns" />
    <add key="RequestFile" value="A.xls" />
    <add key="DestinationFile" value="Resultater\{0}Result.xls" />
    <add key="CounsellorFile" value="B.xls" />
    <add key="EventFile" value="C.xls" />
    <add key="PlaceFile" value="D.xls" />
    <add key="VejlederColumn" value="P" />
    <add key="StedColumn" value="U" />
    <add key="DatoColumn" value="Q" />
    <add key="ArrangementColumn" value="T" />
    <add key="TidFraColumn" value="R" />
    <add key="TidTilColumn" value="S" />
    <add key="FirstWriteableColumn" value="W" />
    <add key="SenderMailAddress" value="andersjuulsfirma@gmail.com" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.84.0.0" newVersion="0.84.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>