<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Directory" value="c:\ns"/>
    <add key="RequestFile" value="A.xls"/>
    <add key="DestinationFile" value="Resultater\{0}Result.xls"/>
    <add key="CounsellorFile" value="B.xls"/>
    <add key="EventFile" value="C.xls"/>
    <add key="PlaceFile" value="D.xls"/>
    <add key="VejlederColumn" value="O"/>
    <add key="StedColumn" value="T"/>
    <add key="DatoColumn" value="P"/>
    <add key="ArrangementColumn" value="S"/>
    <add key="TidFraColumn" value="Q"/>
    <add key="TidTilColumn" value="R"/>
    <add key="FirstWriteableColumn" value="V"/>
    <add key="SenderMailAddress" value="andersjuulsfirma@gmail.com"/>
  </appSettings>
</configuration>